<script>
  window.images = {
    CaptchaLogo: '<%= asset_path('recaptcha-02.png') %>',
    UserProfileImg: '<%= asset_path('karma.jpg') %> ',
      // add the proper insert code here - remember to use ERB tags
  }
</script>
<main id='main'>
  <marquee>WHERE IS REACT?!?!?!?! :(</marquee>
</main>
