<script>
  window.images = {
    CaptchaLogo: '<%= asset_path('recaptcha-02.png') %>',
    defaultProfileImg: '<%= asset_path('dpi-metal-horns.jpg') %> ',
  }
</script>
<main id='main'>
  <marquee>WHERE IS REACT?!?!?!?! :(</marquee>
</main>
