@import '_css_reset.css'; 

$disclaimer-text: #9a9a9a; 
$font-stack: 
  "Proxima Nova", 
  "Lucida Grande", 
  "Lucida Sans Unicode", 
  "Lucida Sans", 
  Garuda, 
  Verdana, 
  Tahoma, 
  sans-serif 
; 
$sc-orange: #f50; 
