// @import 'css_reset';
@import 'font-awesome';

$font-stack:
'Proxima Nova',
'Lucida Grande',
'Lucida Sans Unicode',
'Lucida Sans',
Garuda,
Verdana,
Tahoma,
sans-serif
;

// BASE COLORS
$black: #000;
$body-bg: #f2f2f2;
$disclaimer-text: #9a9a9a;
$fb-blue: #304f97;
$goog-blue: #4285f4;
$gray-dark: #111;
$gray-light: #c0c0c0;
$gray-light-med: #999;
$gray-med: #333;
$gray: #666;
$link-blue: #398bde;
$modal-grayscale: rgba(185, 185, 185, .5);
$red: #f00;
$sc-orange: #f50;
$search-bg: #e5e5e5;
$white: #fff;
