// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-stack: 
  "Proxima Nova", 
  "Lucida Grande", 
  "Lucida Sans Unicode", 
  "Lucida Sans", 
  Garuda, 
  Verdana, 
  Tahoma, 
  sans-serif 
; 

$sc-orange: #f50; 

.modal { 
  // display: none; 
  display: block; 
} 

.modal a { 
  text-decoration: none; 
} 

.is-open { 
  display: block; 
}

.modal-screen { 
  font-size: 12px; 
  font-family: $font-stack; 
  position: fixed; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  z-index: 2; 
  background-color: rgba(185, 185, 185, 0.5); 
} 

.close-button { 
  cursor: pointer; 
  font-size: 4em; 
  float: right; 
  height: 20px; 
  margin: 2px 20px 0 0; 
  width: 20px; 
 } 

.modal-email-form { 
  // border: 1px solid red; 
  box-sizing: border-box; 
  width: 455px; 
  height: 620px; 
  margin: 0 auto; 
  margin-top: 70px; 
  padding: 123px 25px; 
  position: relative; 
  background-color: #fff; 
  z-index: 3; 
} 

.modal-login-form { 
  // border: 1px solid red; 
  box-sizing: border-box; 
  width: 455px; 
  height: 620px; 
  margin: 0 auto; 
  margin-top: 70px; 
  padding: 230px 25px; 
  position: relative; 
  background-color: #fff; 
  z-index: 3; 
} 

.modal-signup-form { 
  // border: 1px solid red; 
  box-sizing: border-box; 
  width: 455px; 
  height: 620px; 
  margin: 0 auto; 
  margin-top: 70px; 
  padding: 20px 25px; 
  position: relative; 
  background-color: #fff; 
  z-index: 3; 
} 

.modal-signup-form h1 { 
  font-size: 31px; 
  font-weight: bold; 
  text-align: center; 
} 

.divider { 
  font-size: 15px; 
  padding: 4px 0; 
  text-align: center; 
} 

.divider::before, 
.divider::after { 
  border-top: 1px solid #333; 
  content: " "; 
  display: inline-block; 
  padding: .1em; 
  width: 43%; 
} 

.modal input { 
  border-radius: 3px; 
  border: 1px solid #999; 
  color: #333; 
  display: inline-block; 
  font-family: $font-stack; 
  font-size: 18px; 
  outline: none; 
  padding: 10px; 
  margin: 0 auto; 
  width: 94.5%; 
} 

.modal input::placeholder { 
  color: #9a9a9a; 
  font-size: 19px; 
}

.modal button { 
  background-color: $sc-orange; 
  border: none; 
  border-radius: 6px; 
  color: #fff; 
  cursor: pointer; 
  font-size: 16px; 
  margin-top: 10px; 
  outline: none; 
  padding: 10px; 
  width: 100%; 
} 

.modal button:active { 
  border: none; 
} 

.btn-cats, 
.btn-dogs { 
  border-radius: 3px; 
  color: #fff; 
  display: inline-block; 
  font-size: 16px; 
  padding: 12px; 
  text-align: center; 
  width: 94%; 
} 

.btn-cats { 
  background-color: #304f97; 
} 

.btn-dogs { 
  background-color: #4285f4; 
  margin-top: 12px; 
} 

.need-help { 
  text-align: right; 
}

.no-password { 
  font-size: 13px; 
  text-align: center; 
}

.disclaimers { 
  // border: 1px solid red; 
  color: #9a9a9a; 
} 

.helper-link { 
  color: #398bde; 
  &:hover { 
    color: #000; 
  } 
} 

.modal-login-form .return-to-email,
.modal-signup-form .return-to-email { 
  background-image: url(image_path('left-caret.png')); 
  background-position: 5px; 
  background-repeat: no-repeat; 
  background-size: 30px; 
  cursor: pointer; 
  font-size: 16px; 
  font-weight: bolder; 
  margin-bottom: 10px; 
  text-align: left; 
  text-indent: 30px; 
  width: 100%; 
} 

.signin-reminder { 
  font-size: 12px; 
  margin-top: 22px; 
  text-align: center; 
} 

.signin-reminder h3 { 
  font-weight: 900; 
  margin-bottom: 0; 
} 

.choose-password { 
  font-size: 14px; 
  font-weight: 900; 
  margin: 5px 0; 
} 

.captcha { 
  background-color: #f9f9f9; 
  // background-image: url(image_path('recaptcha-02.png')); 
  // background-position: 90%; 
  // background-repeat: no-repeat; 
  // background-size: 80px; 
  border: 1px solid #d3d3d3; 
  display: flex; 
  justify-content: space-between; 
  margin-top: 1.6em; 
} 

.modal-signup-form .checkbox { 
  // border: 1px solid red; 
  box-sizing: border-box; 
  height: 60px; 
  width: 60px; 
} 
