@import './_base_styles.scss';

.song-page-content {
  background-color: $white;
  height: 100vh;
  margin: 0 auto;
  width: 65%;

  .song-page-header {
    height: 380px;
    outline: 1px dashed blue;
    width: 100;
  }
}
