@import '_base_styles.scss';

.splash-page {
  background-color: $white;
  height: 100%;
  margin: 0 auto;
  margin-top: -1.3em;
  width: 65%;

  header {
    height: 475px;
    position: relative;

    .header-info {
      align-items: center;
      border-top: 6px solid $sc-orange;
      color: $white;
      display: flex;
      height: 17%;
      justify-content: space-between;
      padding: 0 20px;
      position: relative;
      top: 19px;
      z-index: 10;

      .logo-banner {
        align-items: center;
        display: flex;

        .logo {
          background-image: url(image-path('cloud-icon'));
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
          height: 24px;
          width: 48px;
        }

        h4 {
          margin: 0;
          margin-left: .75em;
          text-transform: uppercase;
        }
      }

      .authorization {
        align-items: center;
        display: flex;
        font-size: 14px;

        a {
          text-decoration: none;

          &:visited { color: inherit; }
        }

        .signin,
        .signup {
          border-radius: 3px;
          font-weight: 100;
          margin-right: .75em;
          padding: 8px 18px;
        }

        .signin {
          border: 1px solid $white;
        }

        .signup {
          background-color: $sc-orange;
          border: 1px solid $sc-orange;
        }

        .demo-login {}
      }
    }

    .carousel {
      background-blend-mode: darken;
      background-color: rgba(0, 0, 0, .55);
      background-image: url(image-path('splash_page/listening-04'));
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      filter: saturate(350%);
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }

  .splash-search,
  .splash-trending,
  .splash-mobile,
  .splash-creators,
  .splash-thanks,
  .footer-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .splash-trending,
  .footer-container {
    height: 325px;
  }

  .splash-search {
    height: 7em;
  }

  .splash-trending {
    h2 {
      text-align: center;
    }
  }

  .splash-mobile {
    background-color: $body-bg;
    height: 450px;
  }

  .splash-creators {
    align-items: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, .15);
    background-image: url(image-path('splash_page/recording-05'));
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    display: flex;
    filter: saturate(350%);
    height: 350px;

    .creators-caption {
      margin-left: 3em;
      width: 35%;

      h2 { font-size: 26px; }

      p {
        font-size: 18px;
        font-weight: 200;
        padding-bottom: 1.25em;

        span { font-size: 12px; }
      }

      .creators-start {
        border: 1px solid $search-bg;
        border-radius: 3px;
        color: $white;
        font-size: 19px;
        outline: none;
        padding: 14px 26px;
        text-decoration: none;
      }
    }
  }

  .splash-thanks {
    height: 375px;
  }
}

@media screen and ( min-width: 2560px ) {
  .splash-page {
    width: 48.8%;
  }
}

@media screen and ( max-width: 1280px ) {
  .splash-page {
    width: 98%;
  }
}

@media screen and ( max-width: 1079px ) {
  .splash-page {
    width: 100%;

    .splash-mobile {
      height: 325px;
    }
  }
}
