@import '_base_styles.scss';

.splash-page {
  background-color: $white;
  color: $gray-med;
  height: 100%;
  margin: 0 auto;
  margin-top: -1.3em;
  padding-bottom: 50px;
  width: 65%;

  header {
    height: 475px;
    position: relative;

    .header-info {
      align-items: center;
      border-top: 6px solid $sc-orange;
      color: $white;
      display: flex;
      height: 17%;
      justify-content: space-between;
      padding: 0 20px;
      position: relative;
      top: 19px;
      z-index: 10;

      .logo-banner {
        align-items: center;
        display: flex;
        top: 0;

        .logo {
          background-image: url(image-path('splash_page/logo-banner-grade'));
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
          height: 24px;
          width: 48px;
        }

        h4 {
          margin: 0;
          margin-left: .75em;
          text-transform: uppercase;
        }
      }

      .authorization {
        align-items: center;
        display: flex;
        font-size: 14px;

        a {
          text-decoration: none;

          &:visited { color: inherit; }
        }

        .signin,
        .signup {
          border-radius: 3px;
          font-weight: 100;
          margin-right: .75em;
          padding: 8px 18px;
        }

        .signin {
          border: 1px solid $white;
        }

        .signup {
          background-color: $sc-orange;
          border: 1px solid $sc-orange;
        }

        .demo-login {}
      }
    }

    .carousel {
      background-blend-mode: darken;
      background-color: rgba(0, 0, 0, .55);
      background-image: url(image-path('splash_page/carousel/listening-04'));
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      filter: saturate(350%);
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }

  .splash-search,
  .splash-trending,
  .splash-mobile,
  .splash-creators,
  .splash-thanks,
  .footer-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .splash-search {
    height: 7em;
  }

  .splash-trending {
    padding-bottom: 70px;

    h2 { text-align: center; }

    .trending-songs {
      .trending-group-1,
      .trending-group-2 {
        display: flex;
        justify-content: space-around;
        padding-left: 20px;
        padding-right: 20px;

        .trending-song {
          box-sizing: border-box;
          margin: 10px;
          width: 16.666%;

          img { width: 100%; }

          .song-title,
          .artist-name {
            line-height: 1.4;
          }

          .song-title {
            color: $gray-med;
            font-size: 14px;
            padding-top: 5px;
          }

          .artist-name {
            color: $gray-light-med;
            font-size: 12px;
          }
        }
      }

      .trending-group-1 { margin-bottom: 12px; }
      .trending-group-2 { margin-bottom: 44px; }

      .explore-trending {
        height: 46px;
        margin-top: 5px;
        text-align: center;

        .explore-music-btn {
          background-color: $sc-orange;
          border: 1px solid $sc-orange;
          border-radius: 3px;
          color: $white;
          font-size: 18px;
          line-height: 18px;
          padding: 13px 23px;
          text-decoration: none;
        }
      }
    }
  }

  .splash-mobile {
    background-color: $body-bg;
    background-image: url(image-path('splash_page/devices'));
    background-position: bottom left 12.5%;
    background-repeat: no-repeat;
    background-size: 60%;
    display: flex;
    height: 450px;
    justify-content: flex-end;

    .mobile-caption {
      box-sizing: border-box;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      padding: 40px;
      width: 35%;

      h1 {
        font-size: 36px;

        &:after {
          content: '';
          display: block;
          width: 70px;
          height: 3px;
          background-image: linear-gradient(to right,#7d01a1,#f30 50%,#f50);
          margin-top: 15px;
        }
      }

      p {
        font-size: 24px;
        line-height: 1.5;
        margin: 0 0 48px;
      }

      .mobile-links {
        display: flex;

        .app-store,
        .play-store {
          .app-store-img,
          .play-store-img {
            background-repeat: no-repeat;
            background-position: left;
            height: 50px;
          }

          .app-store-img {
            background-image: url(image-path('splash_page/app_store_badges/apple-app-store'));
            background-size: contain;
            width: 150px;
          }

          .play-store-img {
            background-image: url(image-path('splash_page/app_store_badges/google-play-store'));
            background-size: 100%;
            width: 200px;
          }
        }
      }
    }
  }

  .splash-creators {
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, .15);
    background-image: url(image-path('splash_page/creators/recording-05'));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    display: flex;
    filter: saturate(350%);
    height: 350px;

    .creators-caption {
      margin-left: 5%;
      margin-top: 1.5em;
      width: 35%;

      h2 { font-size: 34px; }

      p {
        font-size: 22px;
        font-weight: 200;
        line-height: 1.5;
        padding-bottom: 1.25em;

        span { font-size: 12px; }
      }

      .creators-start {
        border: 1px solid $search-bg;
        border-radius: 3px;
        color: $white;
        font-size: 19px;
        outline: none;
        padding: 14px 26px;
        text-decoration: none;
      }
    }
  }

  .splash-thanks {
    height: 375px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;

    h1 {
      font-size: 34px;
      margin-bottom: 0;
      margin-top: -4px;
    }

    h3 {
      font-size: 24px;
      margin-top: 15px;

      span { font-size: 14px; }
    }

    .signup-module {
      height: 46px;
      margin-top: 13.5px;

      .signup-large {
        background-color: $sc-orange;
        border: 1px solid $sc-orange;
        border-radius: 3px;
        color: $white;
        font-size: 18px;
        margin: 10px 0 10px;
        min-width: 200px;
        padding: 13px 46px;
        text-decoration: none;
      }
    }

    .account-exists {
      font-size: 12px;
      margin: 12.5px 0 10px;

      a {
        border: 1px solid $search-bg;
        border-radius: 3px;
        color: $gray-med;
        font-size: 16px;
        height: 40px;
        line-height: 18px;
        margin-left: 10px;
        padding: 10px 15px;
        text-decoration: none;
        vertical-align: middle;
      }
    }
  }

  .footer-container {
    height: 98px;

    footer {
      border-top: 1px solid $body-bg;
      margin: 0 auto;
      padding: 15px 0 10px;
      width: 95.5%;

      .footer-links,
      .footer-lang {
        font-size: 14px;
        line-height: 20px;
      }

      .footer-links { color: $gray-light; }
    }
  }
}

/* ---------------------------------------------
// MEDIA QUERIES && RESPONSIVENESS
--------------------------------------------- */

@media screen and ( min-width: 2560px ) {
.splash-page {
  width: 48.8%;
}}

@media screen and ( max-width: 1280px ) {
.splash-page {
  width: 98%;
}}

@media screen and ( max-width: 1079px ) {
.splash-page {
  width: 100%;

  .splash-trending {
    .trending-songs {
      .trending-group-1,
      .trending-group-2 {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .splash-mobile {
    background-size: 50%;
    height: 325px;

    .mobile-caption {
      width: 45%;

      h1 {
        font-size: 32px;
        margin-bottom: 13px;
      }

      p {
        font-size: 20px;
        margin-bottom: 32px;
      }
    }
  }

  .splash-creators {
    .creators-caption {
      margin-left: 3em;
      margin-top: 3em;

      h2 { font-size: 26px; }

      p { font-size: 18px; }
    }
  }

  .splash-thanks {
    height: 375px;
  }
}}
