@import '_base_styles.scss';

.splash {
  outline: 1px dashed red;
  background-color: $white;
  height: 100vh;
  margin: 0 auto;
  margin-top: -1.3em;
  width: 65%;
}

@media screen and ( max-width: 1024px ) {
  .splash {
    width: 100%;
  }
}
