@import './base_styles';

.upload-content {
  background-color: $white;
  height: 100vh;
  margin: 0 auto;
  width: 65%;

  .upload-footer {
    color: $gray-med;
    font-size: 14px;
    margin: 0 auto;
    padding-top: 10px;
    width: 62%;

    em {
      font-weight: 900;
      text-decoration: underline;
    }

    .divider {
      border-top: 1px solid $body-bg;
      color: $gray;
      font-size: 12px;
      margin-top: 10px;
      padding-top: 16px;
      text-align: left;

      a {
        text-decoration: none;

        &:hover {
          color: $gray-light-med;
        }
      }
    }

    small {
      color: $gray-light-med;
      font-style: italic;
    }
  }

  .upload-navbar {
    // border: 1px solid $red;
    align-items: center;
    border-bottom: 1px solid $body-bg;
    display: flex;
    height: 48px;
    max-height: 48px;
    width: 100%;

    .upload-navbar-list {
      font-weight: 100;
      line-height: 48px;
      list-style-type: none;
      padding: 30px;

      li {
        // border: 1px solid red;
        border-bottom-color: $sc-orange;
        display: inline;
        font-size: 15px;
        line-height: 48px;
        margin: 0 12px -1px;

        a {
          color: $gray-med;
          text-decoration: none;

          &:first-child {
            color: $sc-orange;
            margin-left: 0;
          }
        }
      }
    }
  }

  .upload-form {
    border: 1px solid $body-bg;
    color: $gray-med;
    margin: 0 auto;
    margin-top: 88px;
    width: 65%;

    .uploader {
      font-size: 14px;
      padding: 100px;
      text-align: center;

      button {
        background-color: $sc-orange;
        border: 0;
        border-radius: 3px;
        color: $white;
        cursor: pointer;
        font-size: 16px;
        outline: none;
        padding: 12px;
        width: 300px;
      }

      .file-picker {
        display: none;
      }

      h1 {
        // outline: 1px dashed red;
        font-size: 22px;

        span {
          font-size: 12px;
        }
      }

      .mac-or-pc {
        span {
          margin: 0 0.5em;
        }
      }

      .song-name {
        font-weight: 700;
        margin-top: 8px;
      }

      .song-title {
        border: 1px solid $gray-light-med;
        border-radius: 3px;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        outline: none;
        padding: 6px;
        width: 200px;
      }

      .submit-song {
        margin-top: 12px;
        outline: none;
      }
    }

    .file-type-restrictions {
      font-size: 14px;
      padding: 0 30px 30px;
      text-align: center;
    }

    .rando-facts {
      border-top: 1px solid $body-bg;
      // height: 68px;
      padding: 22px 20px;

      .chosen-fact {
        color: $sc-orange;
        font-style: italic;

        span {
          margin-right: 0.8em;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
